# Render YAML for deploying both frontend (static site) and backend (web service)
services:
  - type: web
    name: newsnudge-backend
    runtime: docker
    plan: free
    dockerfilePath: backend/Dockerfile
    branch: main
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: MONGO_URL
        sync: false
      - key: DB_NAME
        sync: false
      - key: CORS_ORIGINS
        sync: false

  - type: web
    name: newsnudge-frontend
    runtime: static
    plan: free
    branch: main
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_BACKEND_URL
        sync: false
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
